.container-fluid {
    height: 100%;
    width: 100%;
}

.container{
    border: 2px solid black;
    background-color: whitesmoke;

}

body{
    background-image: url("../images/herringbone.png");
}

.image {
    float: left;
    padding: 10px;
    margin-bottom: 0%;

}
.footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 110%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.img-1 {
    position: relative;
    z-index: 1;
    margin: 5px;
    width: 150px;
    height: 150px;
    float: left;
    padding: 0px;
    }

.prjtitle {
    position: absolute;
    z-index: 2;
    background-color: teal;
    color: white;
    width: 150px;
    height: 35px;
    bottom: 2px;
    left: 0%;
    text-align: center;
    padding-top: 2px;
    }

    .col-sm-9 {
        position: sticky;
    }